// Fonts

$font-size-base: 16px;
$font-size-sm: 0.875rem; // 14px
$font-size-xs: 0.75rem; // 12px
$font-size-lg: 1.25rem; // 20px

// Layout

$content-max-width-desktop: 1440px;
$content-max-width-tablet: 940px;
$content-max-width-mobile: 496px;
$content-px-desktop: 40px;
$content-px-tablet: 20px;
$content-px-mobile: 16px;

